blinker
certifi
charset-normalizer
click
farm-haystack
filelock
Flask
Flask-Session
fsspec
huggingface-hub
idna
importlib_metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
packaging
PyMuPDF
PyPDF2
PyYAML
redis
regex
requests
safetensors
sentencepiece
sentence-transformers
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug
zipp
